@model CodemashApp.ViewModel.CodemashHomeViewModel

<div class="col-xs-12">
    <h2>Welcome to Codemash 2.0.1.5</h2>

    <p>Click on the hamburger in the top left to start your agenda for the week.</p>
</div>
